<Tab title="Phone" ios:icon="/assets/images/icons/phone.png">
    <Window title="Phone" ios:barColor="#1976d2" [ios:titleAttributes]="{ color: '#FFF' }">
        <list-view (itemclick)="openItem($event)">
            <list-section>
                <list-item title="Camera" itemId="camera"></list-item>
                <!--
                <list-item title="3D-Touch: Shortcut Items" itemId="shortcut-items" *platform="'ios'"></list-item>
                <list-item title="3D-Touch: Peek and Pop" itemId="peek-and-pop" *platform="'ios'"></list-item>
                <list-item title="Bundle Settings" itemId="bundle-settings" *platform="'ios'"></list-item>
                <list-item title="Drawer" itemId="drawer" *platform="'android'"></list-item>
                <list-item title="Clipboard" itemId="clipboard"></list-item>
                <list-item title="Database" itemId="database"></list-item>
                <list-item title="Geolocation" itemId="geolocation"></list-item>
                <list-item title="Network" itemId="network"></list-item>
                <list-item title="Sound" itemId="sound"></list-item>
                <list-item title="Audio Recorder" itemId="audio-recorder"></list-item>
                <list-item title="Camera + Gallery" itemId="camera-gallery"></list-item>
                <list-item title="Accelerometer" itemId="accelerometer"></list-item>
                <list-item title="TODO: Video Player" itemId="video-player"></list-item>
                <list-item title="TODO: Audio Player" itemId="audio-player"></list-item>
                -->
            </list-section>
        </list-view>
    </Window>
</Tab>
