<Window title="Alert Dialogs" backgroundColor="#fafafa" barColor="#1976d2" [titleAttributes]="{ color: '#FFF' }" ios:navTintColor="#FFF">
    <VerticalLayout width="300">
        <Label top="20">Preset dialogs</Label>
        <Button title="Alert" [width]="LayoutBehaviorType.Fill" (click)="openAlertDialog()">Alert</Button>
        <Button title="Confirm" [width]="LayoutBehaviorType.Fill" (click)="openConfirmDialog()">Confirm</Button>
        <Button title="Prompt" [width]="LayoutBehaviorType.Fill" (click)="openPromptDialog()">Prompt</Button>
        <Label top="20">Custom dialogs</Label>
        <Button title="Alert" [width]="LayoutBehaviorType.Fill" (click)="openBasicCustomDialog()"></Button>
        <Button title="Androd custom view" [width]="LayoutBehaviorType.Fill" *platform="'android'" (click)="openCustomDialog()">Android custom view</Button>
    </VerticalLayout>
    
    <AlertDialog #templateAlertDialog title="Template alert" message="This is an alert defined via the <AlertDialog> directive">
        <DialogAction title="Meh" cancel="true" (handler)="handleCancelButton($event)"></DialogAction>
        <DialogAction title="Cool!" (handler)="handleOkButton($event)"></DialogAction>
    </AlertDialog>
</Window>