<Tab title="Controls" icon="assets/images/controls.png">
    <Window title="Controls" barColor="#1976d2" [titleAttributes]="{ color: '#FFF' }">
        <ListView (itemclick)="openItem($event)">
            <ListSection>
                <ListItem title="Views" itemId="views"></ListItem>
                <ListItem title="Label" itemId="label"></ListItem>
                <ListItem title="Tabbed Bar" itemId="tabbedbar" *platform="'ios'"></ListItem>
                <ListItem title="Toolbar" itemId="toolbar" *platform="'android,ios'"></ListItem>
                <ListItem title="Command Bar" itemId="commandbar" *platform="'windows'"></ListItem>
                <ListItem title="Switch" itemId="switchcontrol"></ListItem>
                <ListItem title="Stepper" itemId="stepper" *platform="'ios'"></ListItem>
                <ListItem title="Slider" itemId="slider"></ListItem>
                <ListItem title="Activity Indicator" itemId="activityindicator"></ListItem>
                <ListItem title="Picker" itemId="picker"></ListItem>
                <ListItem title="Alert Dialog" itemId="alertdialog"></ListItem>
                <ListItem title="Option Dialog" itemId="optiondialog"></ListItem>
                <ListItem title="Text Field" itemId="textfield"></ListItem>
                <ListItem title="Text Area" itemId="textarea"></ListItem>
            </ListSection>
        </ListView>
    </Window>
</Tab>