<View [height]="Ti.UI.SIZE">
  <View
    background-color="#f3f8fd"
    top="20"
    right="20"
    bottom="20"
    left="20"
    [height]="Ti.UI.SIZE"
    [ios:clip-mode]="Ti.UI.iOS?.CLIP_MODE_DISABLED"
  >
    <View
      #borderView
      left="0"
      width="8"
      [background-color]="primaryColor"
      z-index="1"
    >
    </View>
    <View
      #contentView
      right="24"
      left="30"
      layout="vertical"
      [height]="Ti.UI.SIZE"
      (postlayout)="computeHeight()"
    >
      <ng-content></ng-content>
    </View>
  </View>
</View>