<Window title="Views" barColor="#1976d2" [titleAttributes]="{ color: '#FFF' }" ios:navTintColor="#FFF">
    <ListView (itemclick)="openItem($event)">
        <ListSection>
            <ListItem title="View" subtitle="Ti.UI.View" itemId="view"></ListItem>
            <ListItem title="Scroll View" subtitle="Ti.UI.ScrollView" itemId="scroll-view"></ListItem>
            <ListItem title="Scrollable View" subtitle="Ti.UI.ScrollableView" itemId="scrollable-view"></ListItem>
            <ListItem title="List View" subtitle="Ti.UI.ListView" itemId="list-view"></ListItem>
            <ListItem title="Blur View" subtitle="Ti.UI.BlurView" itemId="blur-view" *platform="'ios'"></ListItem>
            <ListItem title="Image View" subtitle="Ti.UI.ImageView" itemId="image-view"></ListItem>
            <ListItem title="Web View" subtitle="Ti.UI.WebView" itemId="web-view"></ListItem>
        </ListSection>
    </ListView>
</Window>