{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Android >= 4",
                        "iOS >= 8"
                    ]
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "external-helpers"
    ]
}