<base-window title="Card View">
  <card-view
    layout="vertical",
    padding="16dp"
    top="20dp"
    left="20dp"
    right="20dp"
  >
    <base-label
      fontSize="30dp"
      fontWeight="bold"
      left="0"
      max-line="1"
    >
      Card title
    </base-label>
    <base-label top="10dp" left="0">
      Secondary text
    </base-label>
    <base-label top="20dp" left="0">
      Greyhound divisively hello coldly wonderfully marginally far upon excluding.
    </base-label>
  </card-view>
</base-window>