<Window title="Picker" backgroundColor="#fafafa" ios:barColor="#1976d2" [ios:titleAttributes]="{ color: '#FFF' }" ios:navTintColor="#FFF">
    <Label top="20" #state></Label>
    
    <Picker #picker bottom="0" (change)="updateLabel($event)" [width]="LayoutBehaviorType.Fill">
        <PickerColumn>
            <PickerRow title="Bananas"></PickerRow>
            <PickerRow title="Strawberries"></PickerRow>
            <PickerRow title="Mangos"></PickerRow>
            <PickerRow title="Grapes"></PickerRow>
        </PickerColumn>
    </Picker>
</Window>