<Window title="Picker" backgroundColor="#fafafa" ios:barColor="#1976d2" [ios:titleAttributes]="{ color: '#FFF' }" ios:navTintColor="#FFF">
    <VerticalLayout>
        <View top="20" left="20" right="20" [height]="LayoutBehaviorType.Size">
            <Label left="0">Choose a fruit:</Label>
            <Picker right="0" (change)="updateLabel($event)">
                <PickerColumn>
                    <PickerRow title="Bananas"></PickerRow>
                    <PickerRow title="Strawberries"></PickerRow>
                    <PickerRow title="Mangos"></PickerRow>
                    <PickerRow title="Grapes"></PickerRow>
                </PickerColumn>
            </Picker>
        </View>

        <Label top="20" #state>No fruit choosen yet.</Label>

        <VerticalLayout top="20">
            <Button title="Date Picker Dialog" (click)="showDatePickerDialog()"></Button>
            <Button title="Time Picker Dialog" (click)="showTimePickerDialog()"></Button>
        </VerticalLayout>
    </VerticalLayout>
</Window>