<Tab title="Phone" icon="images/phone.png">
    <Window title="Phone" ios:barColor="#1976d2" [ios:titleAttributes]="{ color: '#FFF' }">
        <ListView (itemclick)="openItem($event)">
            <ListSection #section>
                <ListItem title="3D-Touch: Shortcut Items" itemId="shortcut-items" *platform="'ios'"></ListItem>
                <ListItem title="3D-Touch: Peek and Pop" itemId="peek-and-pop" *platform="'ios'"></ListItem>
                <ListItem title="Bundle Settings" itemId="bundle-settings" *platform="'ios'"></ListItem>
                <ListItem title="Drawer" itemId="drawer" *platform="'android'"></ListItem>
                <ListItem title="Clipboard" itemId="clipboard"></ListItem>
                <ListItem title="Database" itemId="database"></ListItem>
                <ListItem title="Geolocation" itemId="geolocation"></ListItem>
                <ListItem title="Network" itemId="network"></ListItem>
                <ListItem title="Sound" itemId="sound"></ListItem>
                <ListItem title="Audio Recorder" itemId="audio-recorder"></ListItem>
                <ListItem title="Camera + Gallery" itemId="camera-gallery"></ListItem>
                <ListItem title="Accelerometer" itemId="accelerometer"></ListItem>
                <ListItem title="TODO: Video Player" itemId="video-player"></ListItem>
                <ListItem title="TODO: Audio Player" itemId="audio-player"></ListItem>
            </ListSection>
        </ListView>
    </Window>
</Tab>