<Window title="List View" backgroundColor="#fafafa" barColor="#1976d2" [titleAttributes]="{ color: '#FFF' }" ios:navTintColor="#FFF">
    <ListView (itemclick)="handleListViewClick($event)">
        <RefreshControl #refresh (refreshstart)="fetchData($event)" *platform="'android,ios'"></RefreshControl>

        <ng-template tiTemplateName="MyCustomTemplate">
            <Label bindId="title" left="20" height="40" color="#dd0331"></Label>
            <Label bindId="detail" right="20" height="40" color="#1976d2" [font]="{ fontWeight: 'bold' }"></Label>
        </ng-template>

        <ListSection #systemTemplates headerTitle="System Item Templates">
            <ListItem title="Bananas" image="assets/images/icons/tab.png"></ListItem>
            <ListItem title="Apples" subtitle="Oranges" [template]="3"></ListItem>
            <ListItem title="Mangos" subtitle="Strawberries" template="1"></ListItem>
            <ListItem title="Lemon" subtitle="Melone" template="2"></ListItem>
        </ListSection>

        <ListSection headerTitle="Custom Item Templates" [items]="items">
            
        </ListSection>

        <ListSection #accessory headerTitle="Accessory Types">
            <ListItem title="No Accessory" accessoryType="Ti.UI.LIST_ACCESSORY_TYPE_NONE"></ListItem>
            <ListItem title="Detail Accessory" accessoryType="Ti.UI.LIST_ACCESSORY_TYPE_DETAIL"></ListItem>
            <ListItem title="Disclosure Accessory" accessoryType="Ti.UI.LIST_ACCESSORY_TYPE_DISCLOSURE"></ListItem>
            <ListItem title="Checkmark Accessory" accessoryType="Ti.UI.LIST_ACCESSORY_TYPE_CHECKMARK"></ListItem>
        </ListSection>
    </ListView>
</Window>