<Window title="List View" backgroundColor="#fafafa" ios:barColor="#1976d2" [ios:titleAttributes]="{ color: '#FFF' }" ios:navTintColor="#FFF">
    <ListView (itemclick)="handleListViewClick($event)">
        <RefreshControl #refresh (refreshstart)="fetchData($event)" *platform="'android,ios'"></RefreshControl>

        <ng-template tiTemplateName="InlineTemplate">
            <Label bindId="title" left="20" height="40" color="#dd0331"></Label>
            <Label bindId="detail" right="20" height="40" color="#1976d2" [font]="{ fontWeight: 'bold' }"></Label>
        </ng-template>

        <ng-template tiTemplateName="ComponentTemplate">
            <ItemComponent></ItemComponent>
        </ng-template>

        <ListSection #systemTemplates *platform="'ios'" headerTitle="System Item Templates">
            <ListItem title="Bananas" image="images/icons/tab.png"></ListItem>
            <ListItem title="Apples" subtitle="Oranges" [template]="ListItemTemplate.Subtitle"></ListItem>
            <ListItem title="Mangos" subtitle="Strawberries" [template]="ListItemTemplate.Settings"></ListItem>
            <ListItem title="Lemon" subtitle="Melone" [template]="ListItemTemplate.Contacts"></ListItem>
        </ListSection>

        <ListSection headerTitle="Custom Item Templates" [items]="items"></ListSection>

        <ListSection #accessorySection headerTitle="Accessory Types">
            <ListItem title="No Accessory"></ListItem>
            <ListItem title="Detail Accessory" [accessoryType]="ListAccessoryType.Detail"></ListItem>
            <ListItem title="Disclosure Accessory" [accessoryType]="ListAccessoryType.Disclosure"></ListItem>
            <ListItem title="Checkmark Accessory" [accessoryType]="ListAccessoryType.Checkmark"></ListItem>
        </ListSection>
    </ListView>
</Window>