<base-window
  title="Masked Image"
  layout="vertical"
  (postlayout)="onPostLayout()"
>
  <view
    layout="vertical"
    height="40%"
  >
    <base-label
      top="5"
      color="#7f8c8d"
      font-size="14"
    >
      Mode: {{ currentBlendModeName }}
    </base-label>
    <base-label
      top="10"
      left="20"
      [font]="{ fontWeight: 'bold' }"
    >
      Image and tint
    </base-label>
    <masked-image
      #tintImage
      top="20"
      mask="images/titanium-logo.png"
      tint="#1976d2"
      [mode]="currentBlendMode"
    ></masked-image>
  </view>
  <view
    layout="vertical"
    height="60%"
  >
    <base-label
      top="20"
      left="20"
      font-weight="bold"
    >
      Two images
    </base-label>
    <masked-image
      #modeImage
      top="20"
      mask="images/titanium-logo.png"
      image="images/angular.png"
      [mode]="currentBlendMode"
    ></masked-image>
    <view>
      <base-button
        bottom="10"
        (click)="switchBlendMode()"
      >
        Change blend mode
      </base-button>
    </view>
  </view>
</base-window>